amqp==5.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.75.0
anyio==4.12.0
beautifulsoup4==4.14.3
billiard==4.2.4
-e git+https://github.com/TomsTools11/brand-guidelines-builder.git@e7bd4ddd47ff40c115a56f60350b3d311d2a7ef0#egg=brand_guide_generator&subdirectory=brand-guidelines-builder/backend
celery==5.6.1
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorthief==0.2.1
cssutils==2.11.1
distro==1.9.0
docstring_parser==0.17.0
fastapi==0.128.0
greenlet==3.3.0
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
idna==3.11
jiter==0.12.0
kombu==5.6.2
more-itertools==10.8.0
packaging==25.0
pillow==12.0.0
playwright==1.57.0
prompt_toolkit==3.0.52
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
pyee==13.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.21
PyYAML==6.0.3
redis==6.4.0
reportlab==4.4.7
six==1.17.0
sniffio==1.3.1
soupsieve==2.8.1
starlette==0.50.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
uvicorn==0.40.0
uvloop==0.22.1
vine==5.1.0
watchfiles==1.1.1
wcwidth==0.2.14
websockets==15.0.1
